html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: darkgray;
}

header{
    height: 50px;
    width: 88%;
    border: 1px solid black;
    margin: auto;
    padding: 40px 15px;
    background-color: rgba(17, 184, 100, 0.658);
    transition: 1s;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 5px rgba(red, green, blue, alpha);
}
